__pycache__/
media/*.*
recordings/*.*
temp/*.*
demo/
dist/
build/
Avatar_runner.build/
Avatar_runner.dist/
Avatar_video_playback.build/
Avatar_video_playback.dist/

!Avatar_Small_Local.mp4
!Avatar_generic_man.mp4
!Avatar_generic_woman.mp4
!readme.md